<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\inetpub\wwwroot\CRM.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>CRMDEMO.com</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CLIENTES_PORTALESEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=SERVERAM;Initial Catalog=BDWENCO;User ID=SA;Password=sql2008SA;Application Name=EntityFramework" Name="Data Source=SERVERAM;Initial Catalog=BDWENCO;User ID=SA;Password=sql2008SA;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CRM.sp_estatico.CLIENTES_PORTALESEntities, CRM" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BDWENCOEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=SERVERAM;Initial Catalog=BDWENCO;User ID=SA;Password=sql2008SA;Application Name=EntityFramework" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CRM.sp_dinamic.BDWENCOEntities, CRM" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Entidades" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CRM.Models.Entidades, CRM" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BDWENCOEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/sp_dinamic.Model1.csdl|res://*/sp_dinamic.Model1.ssdl|res://*/sp_dinamic.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SERVERAM;Initial Catalog=BDWENCO;User ID=SA;Password=sql2008SA;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CLIENTES_PORTALESEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/sp_estatico.Model1.csdl|res://*/sp_estatico.Model1.ssdl|res://*/sp_estatico.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SERVERAM;Initial Catalog=BDWENCO;User ID=SA;Password=sql2008SA;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CLIENTES_PORTALESEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/sp_estatico.Model1.csdl|res://*/sp_estatico.Model1.ssdl|res://*/sp_estatico.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SERVERAM;Initial Catalog=BDWENCO;User ID=SA;Password=sql2008SA;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entidades-Web.config Connection String" />
  </ItemGroup>
</Project>