@{ 
    Layout = null;
}

 

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2 d-flex justify-content-between">
            <div class="col-auto">
                <h1>Vendedor</h1>
            </div>
            <div class="col-auto">
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Flujo") ">Flujo</a></li>

                </ol>
            </div>

        </div>
    </div>
</section>
