
@using CRM.sp_dinamic

@{
    string Admin = " Bienvenido Admin del RP";
    Layout = null;
}
<style>
    /*Estilos estándar experimentales (Principalmente Firefox)*/
    scrollbar-color:rgba(0, 0, 0, .5), rgba(0, 0, 0, 0); scrollbar-width: thin;
    }

    /* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

    .contenedor::-webkit-scrollbar {
        -webkit-appearance: none;
    }

        .contenedor::-webkit-scrollbar:vertical {
            width: 10px;
        }

    .contenedor::-webkit-scrollbar-button:increment, .contenedor::-webkit-scrollbar-button {
        display: none;
    }

    .contenedor::-webkit-scrollbar:horizontal {
        height: 10px;
    }

    .contenedor::-webkit-scrollbar-thumb {
        background-color: #797979;
        border-radius: 20px;
        border: 2px solid #f1f2f3;
    }

    .contenedor::-webkit-scrollbar-track {
        border-radius: 10px;
    }

    .pad {
        padding: 0px !important;
    }

    [class*=sidebar-dark] .brand-link {
        border-bottom: 1px solid #ffffff !important;
    }

    [class*=sidebar-dark-] .nav-treeview > .nav-item > .nav-link.active, [class*=sidebar-dark-] .nav-treeview > .nav-item > .nav-link.active:focus, [class*=sidebar-dark-] .nav-treeview > .nav-item > .nav-link.active:hover {
        background-color: #bf360c !important;
        color: #fff !important;
    }

    [class*=sidebar-dark-] .sidebar a {
        color: #ffffff !important;
    }

    .nav-link {
        display: block !important;
        padding: 15px 10px !important;
    }

    [class*=sidebar-dark] .user-panel {
        border-bottom: 1px solid #ffffff !important;
    }

    [class*=sidebar-dark-] {
        background-color: #870000 !important;
    }

    .sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
        background-color: #bf360c !important;
        color: #fff;
    }
</style>

<nav class="main-header navbar navbar-expand-md navbar-dark navbar-navy text-sm" style="background-color: #6b0606;margin-left: 0px !important;">
  
  
    <button class="navbar-toggler order-1" id="b" style="border-color: rgb(255, 247, 247);" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav list-group list-group-horizontal m-auto">

        <li class="nav-item">
            <strong  class="nav-link active " style="padding-top: 5px !important;margin-bottom: 0px;"> <i class="fas fa-user-tie"></i> @Admin</strong>
</li>
       
    </ul>
    <div class="d-md-block collapse order-3 aqui " id="navbarCollapse">
        <ul class="navbar-nav ">   
                    <li class="nav-item a ">
                        <a class="nav-link " href="@Url.Action("Cerrar", "Autentificacion") " style="padding-top: 5px !important;   margin-left: 4px;  border: 1px solid #fff; border-radius: 10px;">
                            <i class="fas fa-power-off"></i>
                        </a>
                    </li>
        </ul>

    </div>

</nav>

 
<script>
    $("#b").on("click", function (event) {

        $(".aqui").addClass("navbar-collapse");
        $(".a").addClass("m-1 text-center");


    });
</script>